<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Produk</title>
</head>
<body>
    <h1>Daftar Produk</h1>

    <table>
        <thead>
            <tr>
                <th>Kode</th>
                <th>Nama</th>
                <th>Harga</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${dataProduk}">
                <td th:text="${p.kode}">P-999</td>
                <td th:text="${p.nama}">Produk 999</td>
                <td th:text="${p.harga}">100999</td>
            </tr>
        </tbody>
    </table>
</body>
</html>